.titulo{
   text-align: center;
   padding-right: 100px;
}
body{
   width: 700px;
}

.sections{
   padding: 5px 150px 5px 10px;
}

.c{
   float: left; /* deixar um do lado do outro*/
   width: 250px;
   height: 20px;
   background-color: pink;
   padding: 5px 10px 5px 10px;
   margin: 10px 10px
}

.rotina{
   width: 250px;
   height: 230px;
   margin: 0px 0px 15px 0px;
   background-color: blue;
   float: left;
}

.hobbies{
   width: 250px;
   height: 230px;
   margin: 0px 0px 15px 0px;
   background-color: brown;
   float: right;
}

.artistas{
   width: 250px;
   height: 230px;
   margin: 0px 0px 15px 0px;
   background-color: yellow;
   float: left;
}

.viagens{
   width: 250px;
   height: 230px;
   margin: 0px 0px 15px 0px;
   background-color: blueviolet;
   float: right;
}