body{
   width: 700px;
   height: 700px;
}

.titulo{
   max-width: 80%;
   margin: 0 auto;
   text-align: center;
}

.cabecalho{
   max-width: 90%;
   margin: 20px auto;
}

.c{
   width: 40%;
   height: 20px;
   margin: 1% 2.25%;
   background-color: pink;
   float: left;
}

.sections{
   max-width: 90%;
   margin: 20px auto;
}

.card{
   width: 40%;
   height: 230px;
   margin: 2% 2.25%;
   float: left;
}

#rotina{
   background-color: blue;
   text-align: center;
}
#hobbies{
   background-color: red;
   text-align: center;
}
#artistas{
   background-color: yellow;
   text-align: center;
}
#viagens{
   background-color: green;
   text-align: center;
}