.header{
   background-color: yellow;
   height: 14vh;
}
.headerPart{
   height: 7vh;
   text-align: center;
}
#search{
   height: 2,5vh;
   margin: 2vh;
   padding-left: 5px;
}
.navBar{
   border-style: solid;
   line-height: 6vh; /*alinhar no centro a linha*/
}
.optionsNav{
   vertical-align: middle; /*centralizar o texto verticalmente*/
   margin-left: 2vw;
   text-decoration: none;
   color: black;
}
.optionsNav:hover{
   padding: 0.3%;
   transition-duration: 0.2s;
   background-color: #ebebeb;
}
.content{
   height: 86vh;
   background-color: #ebebeb;
   text-align: center;
}
.containerPay{
   background-color: white;
   height: 15vh;
   border-radius: 0 1vw 1vw 0;
 }
.firstOffer, .offer{
   width: 20vw;
   height: 15vh;
   float: left;
   text-align: left;
}
.firstOffer{
   border-left: solid rgb(74, 74, 190) 5px;/*style, color, width*/
}
.offerTitle, .subTitle{
   margin-left: 1vw;
}
.offerTitle{
   margin-top: 3vh;
}
.contents{
   width: 80vw;
   margin-top: 5vh;
   display: inline-block;
}
.product{
   background-color: white;
   width: 15vw;
   margin-left: 2.5vw;
   margin-right: 2.5vw;
   float: left;
}
.product img{
   border-bottom: solid black 2px;
}
.content-hidden h4{
   display: none;
}
.product:hover .content-hidden h4{
   display: block;
   transition: 0.5s all step-end;
}